# General
.DS_Store
.vscode/

# Python / Backend
**/__pycache__/
backend/*.py[cod]
backend/venv/
backend/.venv/
backend/.env
backend/.pytest_cache/
*.sqlite
*.db

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# LiveKit / Sensitive
*.pem
*.key

# User Uploads
backend/static/*
!backend/static/.gitkeep
dummy.pdf

